#chat-body {
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 80px;
}

#chat-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#chat-header button {
  text-align: left;
}