.me-dialog {
  max-width: 70%;
  padding: 10px;
  background-color: lightblue;
  color: black;
  border-radius: 10px;
  text-align: left;
  margin-left: auto;
  margin-bottom: 5px;
  margin-right: 5px;
}

.other-dialog {
  max-width: 70%;
  padding: 10px;
  background-color: lightcoral;
  color: black;
  border-radius: 10px;
  text-align: left;
  margin-bottom: 5px;
  margin-left: 5px;
}