@import "src/styles/_base";
@import "src/styles/_mixins";

#homepage-body {
  margin-top: 25%;
}

#homepage-body h1 {
  margin-bottom: 0 !important;
}

#homepage-body h3 {
  margin-bottom: 30px;
  font-weight: 400;
}