<html>
    <head> 
        <title> Chat room </title>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    </head>
    <body> 
        <script type="text/javascript"> 
            $(document).ready(function() {

                var socket = io.connect('http://127.0.0.1:5000');

                socket.on('message', function(msg) {
                    if (msg=="!exit") { 
                        window.location.href = '/'
                    }
                    else { 
                    $("#message-display").append('<div>'+ "person: " + msg+'</div>');
                    }
                });

                $('#sendbutt').on('click', function() {
                    socket.send($('#message-input').val());
                    $('#message-input').val('');
                });

                });
        </script>
        <div> Welcome to the chat room. You are chatting with a user. </div>
        <div> Type "!exit" if you want to stop chatting and return to the homepage. </div>
        <l id="message-display"> </l>
        <input type="text" id="message-input"> 
        <button id="sendbutt"> Send </button>
    </body>
</html> 
