<html>
    <head> 
        <title> Chat room </title>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    </head>
    <body> 
        <script type="text/javascript"> 
            $(document).ready(function() {
                var username = '{{ user }}'
                var socket = io.connect('http://127.0.0.1:5000');
                var chatID = '{{chatID}}';

                socket.on('message', function(msg) {
                    var escape_str = msg.substr(msg.indexOf(':') + 2);
                    console.log(escape_str)
                    if (escape_str=="!exit") { 
                        window.location.href = '/'
                    }
                    else { 
                        if (/\S/.test(msg)) {
                            $('#message-display').append('<div>' + msg + '<div>')
                        }
                    }
                    }
                    );
                    $.ajax({
                    url: 'http://127.0.0.1:5000/chat/log/' + chatID,
                    type: 'GET', 
                    success: function(data) { 
                        var spaced_data = data.replace(/\n/g, '<br/>');
                        $('#message-display').append(spaced_data);
                        $('#message-input').toggle();
                        $('#sendbutt').toggle(); 
                        $('#loading').toggle();
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        alert("something went wrong")
                    }
                    }); 

                $('#sendbutt').on('click', function() {
                    var message = $('#message-input').val()
                    socket.send(username + ": " + $('#message-input').val());
                    $('#message-input').val('');
                    if (/\S/.test(message)) {
                    
                    $.ajax({
                            type : "POST",
                            url : "http://127.0.0.1:5000/chat/" + chatID,
                            data: JSON.stringify({"msg": message}),
                            dataType:"json",
                            contentType: 'application/json;charset=UTF-8',
                            success: function() {
                                console.log("Success")
                            }
                        });
                } 
                });
                });

        </script>
        <div> Welcome to the chat room. You are chatting with a user. </div>
        <div> Type "!exit" if you want to stop chatting and return to the homepage. </div>
        <div id="loading"> Loading... </div>
        <div id="message-display"> </div>
        <input type="text" id="message-input" hidden> 
        <button id="sendbutt" hidden> Send </button>
    </body>
</html> 
