h1 {
  margin-bottom: 0;
}

h3 {
  font-weight: 400;
  margin-bottom: 0;;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 1px solid #000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

button {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}